<header>
    <div class="contenedor">
        <div class="menu">
            <p>ALEJANDRO ARTEAGA</p>
            <img class="menu-icon" src="assets/menu.png">
            <nav>
                <ul class="lista">
                    <li>Sobre mí</li>
                    <li>Servicios</li>
                    <li>Trabajos</li>
                    <li>¿Por qué trabajar conmigo?</li>
                    <li>Blog</li>
                    <li>Contacto</li>
                </ul>
            </nav>
        </div>
        <div class="titular">
            <h1>Alejandro Arteaga</h1>
            <h2>Desarrollador web</h2>
            <a href="" class="buton" target="_blank">Ver mis trabajos</a>
        </div>
    </div>


</header>
<script>
    $('.menu-icon').click(function() {
        $('header nav').slideToggle();
    })
</script>