<app-header>
</app-header>

<section>
    <h3>Sobre mí</h3>
    <div class="contenedor-sobremi">
        <img src="assets/alexx.jpg" alt="Alejandro Arteaga" title="Alejandro Arteaga">
        <div class="contenedor-parrafobuton">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <a>Portafolio</a>
        </div>
    </div>
</section>


<section>

    <h3>Servicios</h3>
    <div class="contenedor-servicios">
        <div class="servicio violeta ">
            <i class="fas fa-hospital-user fa-3x"></i>
            <h4>Sitio Gestión de Médicos</h4>
            <p>Este es un sitio creado con angular, node, mongo que permitia hacer un registro completo de hospitales y doctores con perfiles independientes e imágenes por usuario. Con un panel administrativo y autenticación mediante JWT y google sign-in
            </p>
            <img src="assets/hospital.jpg">
        </div>

        <div class="servicio celeste">
            <i class="fas fa-school fa-3x"></i>
            <h4>Sitio Manejo de una Escuela</h4>
            <p>Este es un sitio creado con Nodejs y oracleBD en el back y por el front con angular permite registrar alumnos, empleados,profesores, grupos , materias y un dashborad para ver infromación reelevante acerca del estado de la escuela.
            </p>
            <a href="https://github.com/anekc/adminBackend" target="_blank">
                <i class="fab fa-github "> Ver código</i>
            </a>
            <img src="assets/hospital.jpg">
        </div>

        <div class="servicio celeste ">
            <i class="fas fa-hospital-user fa-3x"></i>
            <h4>Sitio Gestión de Médicos</h4>
            <p>Este es un sitio creado con angular, node, mongo que permitia hacer un registro completo de hospitales y doctores con perfiles independientes e imágenes por usuario. Con un panel administrativo y autenticación mediante JWT y google sign-in
            </p>
            <img src="assets/hospital.jpg">
        </div>

        <div class="servicio violeta">
            <i class="fas fa-school fa-3x"></i>
            <h4>Sitio Manejo de una Escuela</h4>

            <p>Este es un sitio creado con Nodejs y oracleBD en el back y por el front con angular permite registrar alumnos, empleados,profesores, grupos , materias y un dashborad para ver infromación reelevante acerca del estado de la escuela.
            </p>
            <img src="assets/hospital.jpg">

        </div>

    </div>


</section>

<section>
    <div class="contenedor">
        <div class="owl-carousel">
            <div> Your Content </div>
            <div> Your Content </div>

        </div>
    </div>
</section>

<section>
    <div class="contenedor">
        <h3>¿Por que trabajar conmigo?</h3>
        <div class="contenedor-porque">
            <div class="porque-singular">

            </div>
        </div>
    </div>
</section>